@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
}

turbo-frame {
  display: block;
  border: 1px solid blue;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0 20px;
  height: 110px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  height: calc(100vh - 220px);
}

.start-button {
  display: flex;
  justify-content: center;
}

.gu {
  position: absolute;
  top: 40px;
  left: 10px;
}

.choki {
  position: absolute;
  bottom: 40px;
  left: 90px;
}

.pa {
  position: absolute;
  right: 40px;
  z-index: -1;
}

.rotation {
  animation: r1 500ms linear infinite;
}

@keyframes r1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.btn,
button.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

button.btn-c {
  font-size: 1.8rem;

  position: relative;

  padding: 2rem 5rem 2rem 5rem;

  color: #fff;
  border-radius: 0;
  background-image: -webkit-linear-gradient(
                  335deg,
                  #231557 0%,
                  #44107a 25%,
                  #ff1361 90%,
                  #fff800 100%
  );
  background-image: linear-gradient(
                  115deg,
                  #231557 0%,
                  #44107a 25%,
                  #ff1361 90%,
                  #fff800 100%
  );
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

button.btn-c span {
  position: relative;
}

button.btn-c:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  background-image: -webkit-linear-gradient(
                  335deg,
                  #231557 0%,
                  #44107a 15%,
                  #ff1361 70%,
                  #fff800 100%
  );

  background-image: linear-gradient(
                  115deg,
                  #231557 0%,
                  #44107a 15%,
                  #ff1361 70%,
                  #fff800 100%
  );
}

button.btn-c:after {
  font-size: 1.6rem;
  line-height: 1;

  position: absolute;
  top: calc(50% - 0.8rem);

  margin: 0;
  padding: 0;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button.btn-c:hover {
  color: #fff;
}

button.btn-c:hover:before {
  opacity: 0;
}
