@charset "utf-8";
/* CSS Document */

@import "top";
@import "button";
@import "pages";

body {
  margin: 0;
  color: #333;
}

turbo-frame {
  display: block;
  //border: 1px solid blue;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;

  &--sm {
    @extend .container;
    max-width: 500px;
  }
}

.text-center {
  text-align: center;
}

.list {
  position: relative;
  list-style: none;
}

.list-item {
  &:before {
    content: "-";
    position: absolute;
    left: 20px;
  }

  &--none {
    &:before {
      content: '';
    }
  }
}

.transparent {
  opacity: 0.2;
}
